name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Windows
            os: windows-latest
            target: Windows
          
          - name: Android (64-bit)
            os: ubuntu-latest
            target: Android64
          
          - name: Android (32-bit)
            os: ubuntu-latest
            target: Android32

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          bindings: geode-sdk/bindings
          bindings-ref: v2.2074.0
          sdk: geode-sdk/geode
          sdk-ref: v4.10.2
          target: ${{ matrix.config.target }}
          combine: true
